# adapted from https://github.com/gasinvein/org.winehq.Wine/blob/branch/staging/.github/workflows/update.yml
name: Check for stable updates in master branch
on:
  schedule:
  - cron: "48 * * * *" # run every 24 hours, a scheduled workflow only runs if in the default branch.
  workflow_dispatch:

jobs:
  flatpak-external-data-checker:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub/flatpak-external-data-checker

    steps:
      - uses: actions/checkout@v2
        with:
          ref: master # with this workflow, f-e-d-c will specifically checkout and submit a PR against master, not beta.

      - uses: docker://ghcr.io/flathub/flatpak-external-data-checker:latest
        env:
          GIT_AUTHOR_NAME: Flatpak External Data Checker
          GIT_COMMITTER_NAME: Flatpak External Data Checker
          GIT_AUTHOR_EMAIL: ${{ github.actor }}@users.noreply.github.com
          GIT_COMMITTER_EMAIL: ${{ github.actor }}@users.noreply.github.com
          EMAIL: ${{ github.actor }}@users.noreply.github.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: --update --never-fork com.github.wwmm.easyeffects.yml
